//vars
$aqua: #70bdaf;
$aqua-light: #71c4bc;
$orange: #ff8043;
$text: #282828;
$dot: #666565;
//mixins
@import "common/mixins";
//common
@import "common/common";
@import "common/header";
@import "common/footer";
//pages
@import "pages/about";
//fonts
@import "common/fonts";

   