.main{
  display: flex;
  flex: 1 0 auto;
  position: relative;
  margin-bottom: -15px;

  &__left, &__right{
    position: relative;
    flex: 1 1 50%;
    box-sizing: border-box;
  }

  .hand-wrapper{
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    .hand-left{
      height: 125%;
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 10%;
    }
    .hand-right{
      display: none;
    }
    .finger{
      display: none;
    }
    .slider{
      display: none;
    }
  }

  .about{
    width: 80%;
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    &__slogan{
      font-family: 'Tahoma Regular', 'Tahoma';
      text-transform: uppercase;
      color: $aqua-light;
      padding-bottom: 1em;
    }
    &__title{
      font-family: 'Panton-Bold', Arial, sans-serif;
      font-size: 40px;
      padding-bottom: 1em;
    }
    &__desc{
      opacity: 0.8;
      padding-bottom: 3em;
      line-height: 1.5;
      margin: 0;
      .photty{
        font-family: Tahoma, sans-serif;
        color: $aqua-light;
        font-weight: 800;
      }
    }
    .download-button{
      display: inline-block;
      width: 362px;
      height: 67px;
      border-radius: 5px;
      border: none;
      background-color: $orange;
      font-family: 'Panton-Bold', Arial, sans-serif;
      font-size: 30px;
      color: #fff;
      margin-bottom: 1em;
    }
    .socials{
      .social{
        position: relative;
        display: inline-block;
        opacity: 0.5;
        font-size: 25px;
        padding-right: 15px;
      }
    }
  }

  .bullets{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: calc(50% - 80px);
    right: -50px;
    height: 160px;

    .bullet{
      font: 0/0 sans-serif;
      &:before{
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $dot;
      }
    }
  }
}


